<html>

    <head>
        <title>{{ title }}</title>
    </head>

    <body>
        <h1>Other Page</h1>
        <p>Database:</p>
        <p>ID: {{ basetest.id }}</p>
        <p>NAME: {{ basetest.name }}</p>
        <p>REDIRECT COUNT: {{ basetest.count }}</p>
        <br/>
        <p><a href='{% url 'app:index' %}'>Go to index page <<</a></p>
        <p><a href='{% url 'books:index' %}'>Go to books page >></a></p>
        <p><a href='{% url 'app:posttask' pk=basetest.id %}'>Go to task redirect page >></a></p>
    </body>
    
</html>